@charset "utf-8";
/* Author: wjas */
/* date to build: 2011-05-10 */
/* last Modified Author: wjas */
/* last Modified: 2012-09-29 */

/* global definitions */
body{margin:0px auto;padding:0px;text-align:center; font-size:12px; color:#000; font-family:Arial, Helvetica, sans-serif,"宋体"; background:url("../images/bg.jpg") repeat;}
div,table,tr,td{margin:0px;padding:0px;font-size:12px;}
form,ul,li,img,p{margin:0px;padding:0px;border:0px;}
hr{margin:0; padding:0; border:0; line-height:1px;}
h1,h2,h3,h4,h5{margin:0px;padding:0px;}
ul,li{list-style-type:none;}
input,button,select,textarea{outline:none}  
textarea{resize:none}
 /* IE6 png背景透明 */

/* color of anchor */
a:link{color:#000;text-decoration:none;}
a:visited{color:#83006f;text-decoration:none;}
a:hover{color:#bc2931;text-decoration:underline;}
a:active{color:#bc2931;text-decoration:none;}

/* colors of text ,rule: prefixed with c before a color name  */
.cRed,a.cRed:link,a.cRed:visited{ color:#f00; }
.cBlue,a.cBlue:link,a.cBlue:visited,a.cBlue:active{color:#1f3a87;}
.cDRed,a.cDRed:link,a.cDRed:visited{ color:#bc2931;}
.cGray,a.cGray:link,a.cGray:visited{ color: #4F544D;}
.cDGray,a.cDGray:link,a.cDGray:visited{ color: #666;}
.cWhite,a.cWhite:link,a.cWhite:visited{ color:#fff;}
.cBlack,a.cBlack:link,a.cBlack:visited{color:#000;}
a.cBlack:hover{color:#bc2931;}
.cYellow,a.cYellow:link,a.cYellow:visited{color:#ff0;}
.cDYellow,a.cDYellow:link,a.cDYellow:visited{color:#fb6c03;}
.cGreen,a.cGreen:link,a.cGreen:visited{color:#008000;}

/* font of text  rule: prefixed with f before a font style */
.fB{font-weight:bold;}

/* font size */
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}

/* layout of whole page*/
.box{width:100%;}
.area{width:1002px; margin:0px auto;}
.clear{clear:both; font-size:0px; width:1px; height:0; visibility: hidden; overflow:hidden;}
.clearfix:after{content:"."; display:block; height: 0; clear: both; visibility: hidden;} /* only FF */
.blank1{height:1px; font-size:0; display:block; clear:both; overflow:hidden;}
.blank2{height:2px; font-size:0; display:block; clear:both; overflow:hidden;}
.blank3{height:3px; font-size:0; display:block; clear:both; overflow:hidden;}
.blank4{height:4px; font-size:0; display:block; clear:both; overflow:hidden;}
.blank5{height:5px; font-size:0; display:block; clear:both; overflow:hidden;}
.blank6{height:6px; font-size:0; display:block; clear:both; overflow:hidden;}
.blank7{height:7px; font-size:0; display:block; clear:both; overflow:hidden;}
.blank8{height:8px; font-size:0; display:block; clear:both; overflow:hidden;}
.blank9{height:9px; font-size:0; display:block; clear:both; overflow:hidden;}

.left{float:left;}
.right{float:right;}

/* header */
.head{width:100%; height:90px; padding-bottom:10px; background:url("../images/head_bg.png") repeat-x;}
.logo{float:left;}
.header_menu{height:38px; float:right;}
.header_menu .left{width:10px; height:28px; background:url("../images/head_bg.png") left -160px no-repeat; float:right;}
.header_menu .right{width:10px; height:28px; background:url("../images/head_bg.png") right -160px no-repeat;}
.header_menu .center{height:28px; background:url("../images/head_bg.png") right -190px repeat-x; padding:0 5px; float:right; font-size:12px; text-align:left; line-height:28px; color:#fff;}
.header_menu .center a{color:#fff;}
.header_menu2{width:740px; height:31px; float:right; margin:10px 0 0 0; clear:right; overflow:hidden;}

.header_menu2 li{height:31px; padding-left:15px; line-height:30px; text-align:center; font-size:20px; font-weight:bold; float:left; margin:0 10px; color:#596367; text-shadow:0px 1px 1px #fff;}
.header_menu2 li a,.header_menu2 li span{height:31px; line-height:30px; float:left; text-align:center; color:#596367; float:left; padding-right:15px; cursor:pointer;}
.header_menu2 li:hover,.header_menu2 li.in,.header_menu2 li.liactive{background:url("../images/head_bg.png") left -240px no-repeat;}
.header_menu2 .liactive span,.header_menu2 li:hover a,.header_menu2 li.in a{background:url("../images/head_bg.png") right -280px no-repeat; color:#fff; text-shadow:0 1px 1px rgba(0,0,0,.5); text-decoration:none; float:left; padding-right:15px;}
.header_menu2 li a:hover strong,.header_menu2 li span strong{background:url("../images/head_bg.png") 0 -320px repeat-x; color:#fff; float:left;}
.header_menu2 li .dot{margin-left:-16px; padding-right:0px;}

/* bottom */
.bottom{font-size:14px; color:#999; line-height:22px; text-align:left; border-top:1px solid #c0c0c0; clear:both; padding:10px 0; margin-top:20px;}

.ofmenu{width:982px; padding:0 10px; height:38px; float:left; zoom:1; *display:inline; background:#969b9f; font-size:14px; text-align:center; color:#fff;
text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
-webkit-box-shadow: 0 1px 0px #fff, inset 0 4px 4px rgba(0, 0, 0, .3);
-moz-box-shadow: 0 1px 0px #fff, inset 0 4px 4px rgba(0, 0, 0, .3);
box-shadow: 0 1px 0px #fff, inset 0 4px 4px rgba(0, 0, 0, .3);
}
.ofmenu ul{ position:relative; top:-5px;}
.ofmenu li{float:left; font-weight:bold;}
.ofmenu li a{float:left; height:44px; padding:0 22px; line-height:44px; font-size:14px; margin:2px; color:#fff; cursor: pointer;}
.ofmenu .liin,.ofmenu li a:hover{float:left; height:44px; padding:0 22px; line-height:44px; font-size:14px; zoom:1; *display:inline; font-size:14px; text-align:center; text-decoration:none; background:#fff; margin:1px; border:1px solid #bbb;
text-shadow: 0 1px 0 #fff;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
-webkit-box-shadow:inset 0 0 2px #fff, 0 0 6px #333;
-moz-box-shadow:inset 0 0 2px #fff, 0 0 6px #333;
box-shadow:inset 0 0 2px #fff, 0 0 6px #333;
background:#e2e2e2;
background:-webkit-gradient(linear, left top, left bottom, from(#f2f2f2),to(#e1e1e1));
background:-moz-linear-gradient( top, #f2f2f2, #e1e1e1);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2',endColorstr='#e1e1e1');
color:#0095d8;
}
.ofmenu li a:active{color:#0095d8;
-webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, .2), 0 0 5px #333;
-moz-box-shadow:inset 0 2px 5px rgba(0, 0, 0, .2), 0 0 5px #333;
box-shadow:inset 0 2px 5px rgba(0, 0, 0, .2), 0 0 5px #333;}

a.btntop{color:#fff;}
.btntop{
float:left;
display:inline-block;
zoom:1;
*display:inline;
vertical-align: baseline;
margin: 10px 5px;
outline: none;
cursor: pointer;
text-align:center;
text-decoration:none;
font-size:12px;
padding: 5px 10px;
text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
-webkit-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px;

-webkit-box-shadow: 0 1px 1px #fff;
-moz-box-shadow: 0 1px 1px #fff;
box-shadow: 0 1px 1px #fff;
cursor: pointer;
background:#0066cc;
background:-webkit-gradient(linear, left top, left bottom, from(#0088cc),to(#0044cc));
background:-moz-linear-gradient( top, #0088cc, #0044cc);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc',endColorstr='#0044cc');
color:#666;
}
.btntop:hover,btntopon{text-decoration:none; color:#fff;
background:#0055cc;
background:-webkit-gradient(linear, left top, left bottom, from(#00aacc),to(#0055cc));
background:-moz-linear-gradient( top, #00aacc, #0055cc);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00aacc',endColorstr='#0055cc');
}

.btntop:active,btntopdown{ position:relative; top:1px;
color:#fff;
-webkit-box-shadow: 0 1px 1px #fff, inset 0 2px 5px rgba(0, 0, 0, .2);
-moz-box-shadow: 0 1px 1px #fff, inset 0 2px 5px rgba(0, 0, 0, .2);
box-shadow: 0 1px 1px #fff, inset 0 2px 5px rgba(0, 0, 0, .2);}


.btnin{width:60px; height:24px; padding:0; float:left; line-height:24px; display:inline; font-size:12px; text-align:center; margin:0 5px; text-decoration:none; text-shadow: 0 1px 0 rgba(0, 0, 0, .15);}


.btnbox .search2{height:31px; margin:10px 10px; float:right; display:inline;}
.btnbox .search2 .search_txt2{width:100px; height:20px; float:left; padding:3px 6px; line-height:22px; color:#333; float:left; overflow:hidden; display:inline; border:solid 1px; border-color:#0088cc #0066cc #0044cc; box-shadow: 0 1px 1px #fff, inset 0 3px 3px #ccc; background:#fff; border-radius:3px; border-top-right-radius:0; border-bottom-right-radius:0; border-right:0;}
.btnbox .search2 .search_btn3,.btnbox .search2 .search_btn4{height:28px; padding:0 5px; float:left; margin:0; text-align:center; display:inline; border-radius:3px; border-top-left-radius:0; border-bottom-left-radius:0; color:#fff; border:0;}
.btnbox .search2 .search_btn4{text-decoration:none; color:#333; border:solid 1px #0044cc; background:#0066cc;
background:-webkit-gradient(linear, left top, left bottom, from(#0088cc),to(#0044cc));
background:-moz-linear-gradient( top, #0088cc, #0044cc);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc',endColorstr='#0044cc')}
.office{float:left; width:120px; height:28px; padding:0 0 0 5px; margin:0 10px 0 0; font-size:12px; border-radius:3px;  border:1px solid; border-color:#0088cc #0066cc #0044cc;}
.office2{float:left; max-width:120px; height:28px; padding:0 0 0 5px; margin:0 10px 0 0; font-size:12px; border-radius:3px; border:1px solid; border-color:#0088cc #0066cc #0044cc;}


.btnbox .time{margin:0 10px 0 0; padding:0 16px 0 10px; height:28px; line-height:26px; position:relative; float:left;}
.btnbox .time font{float:left; font:12px/28px "宋体"; color:#fff; width:65px; overflow:hidden;}
.btnbox .time span{float:left; width:1px; height:28px; background:#002299; border-right:1px solid #0099ff; overflow:hidden; margin:0 5px;}
.btnbox .time:hover span{background:#0022ff;}
.btnbox .time .arrow_down{border:12px solid #fff; border-color:#fff transparent transparent transparent; _border-color:#fff tomato tomato tomato; _filter:chroma(color=tomato); border-style:solid; border-width:4px; width:0; height:0; position: absolute; top:12px; right:8px;border-shadow: 0 1px 1px #fff;}
.btnbox .time:hover .arrow_down{border-color:#fff transparent transparent;}

.btnbox .time_box{float:left; position:absolute; top:34px; left:285px; z-index:99; width:502px; height:402px; text-align:center;}
.btnbox .time_box .sanjiaobox{width:100%; height:10px; line-height:0; float:left; overflow:hidden; position:relative; top:1px;}
.btnbox .time_box .sanjiao2{border-color:transparent transparent #0095d8 transparent; _border-color:tomato tomato #0095d8 tomato; _filter:chroma(color=tomato); border-style:solid; border-width:10px; width:0; height:0; position:absolute; margin:0 auto; left:245px; top:-8px; z-index:999;}
.btnbox .time_box .sanjiao3{border-color:transparent transparent #0095d8 transparent; _border-color:tomato tomato #0095d8 tomato; _filter:chroma(color=tomato); border-style:solid; border-width:10px; width:0; height:0; margin:0 auto; position:absolute; left:245px; top:-10px; z-index:99;}
.btnbox .time_box .time_box2{width:500px; float:left; background:#fff; border:1px solid #0095d8; border-radius:4px; box-shadow: 0 2px 8px #aaa;}
.btnbox .time_box .time_box2 .timetitle{width:100%; height:30px; padding:5px 0; line-height:30px; font-size:20px; color:#fff; float:left; text-align:center; border-bottom:1px solid #fff; background:#0095d8; margin:0 0 10px; text-shadow:0 1px 0 #666; box-shadow: 0 3px 8px #aaa;}
.btnbox .time_box .time_box3{width:220px; height:190px; background:#ccc; float:left; margin:0 0 0 10px; display:inline;}
.btnbox .time_box .time_box4{width:220px; height:190px; background:#ccc; float:right; margin:0 10px 0 0; display:inline;}
.btnbox .time_box .zhi{width:40px; float:left; text-align:center; line-height:150px; margin:0; font-size:20px; color:#999;}
.btnbox .time_box .btntime{width:40%; text-align:center; padding:5px 0; margin:10px 30%; float:left; clear:both;}

a.btnf80,.btnf80{text-decoration:none; float:left; text-align:center; border:1px solid #f80; border-top:1px solid #fb3; border-radius:4px; box-shadow:0 1px 1px rgba(255,255,255,1), inset 0 1px 1px rgba(255,255,255,.6); color:#fff; text-shadow:0 1px 1px rgba(0,0,0,.3); background:#f80;
background:-webkit-gradient(linear, left top, left bottom, from(#ffbb33),to(#ff8800));
background:-moz-linear-gradient( top, #ffbb33, #ff8800);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbb33',endColorstr='#ff8800');}
a.btnf80:hover,.btnf80:hover{box-shadow:0 1px 1px rgba(255,255,255,1), inset 0 1px 1px rgba(255,255,255,.6), inset 0 10px 15px rgba(255,255,255,.2);}


input.clear_value_off { color: #999999; }
.field-validation-error { display: block; color: #ff0000; display: inline; } .field-validation-valid { display: none; } .input-validation-error { border: 1px solid #ff0000; background-color: #ffeeee; } .validation-summary-errors { font-weight: bold; color: #ff0000; } .validation-summary-valid { display: none; }
.errmessage { color: red; font-size: 12px; display: inline; }

.btnsubmit{padding:0 10px; border:0; line-height:28px; color:#fff; text-shadow: 0 1px 0 rgba(0,0,0,.3);}

#htsBg{position:absolute; z-index: 999; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; top: 0px; left: 0px; background-color:#000000; display:none; width:100%; height:100%;}
#htsContainer{position:absolute; width:600px; height:480px; left:50%; top:50%; margin:-240px 0 0 -300px; z-index:1000;background-image:url("../images/howToStart_01.png"); display:none;}
#htsContainer div{ float:left; width:100%;}
.htsTitle,.noticeTitle{float:left; font-size:16px; font-weight:bold; letter-spacing:1px; margin:25px 0 0 230px;}
#btnCloseHts,#btnCloseNotice{font-size:16px; font-weight:bold; float:right; margin:5px 5px 0 0; cursor:pointer;}
.htsBtn{cursor:pointer; margin-top:400px; font-size:14px; color:#0095D8; font-weight:bold;}
#htsBtnNext{margin-right:20px; float:right;}
#htsBtnPre{margin-left:15px; display:none; float:left;}
#htsBtnStartNow{margin-right:20px; float:right; display:none;}

#notice {position:absolute; z-index:1000;display:none; background-color:#ffffff; top:50%; left:50%;}
#notice div{ float:left; text-align:left; text-indent:24px; line-height:40px; font-size:16px; padding:0px 20px;}
