*{
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 12px;
}
.social{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 780px;
}
.social .social_img{
    height: 100%;
    width: 1026px;
    margin: 0 auto;
}
.ctooltip{
    height: 40px;
    width: 200px;
    position: absolute;
    display: none;
}
.social h1{
    font-size: 28px;
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
}
.social p{
    text-align: center;
    margin-bottom: 10px;
    color: #3E3E3E;
}
#content{
    padding-top: 72px;
}

.left {
    float: left;
}
.right {
    float: left;
}

.pic {
    width: 770px;
    height: 680px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.section ul {
    width: 230px;
}

.section ul li {
    color: #587FC2;
    margin: 30px 0;
    font-size: 18px;
}

.clear {
    clear: both;
}

.left .pic {
    position: relative;
    left: -200px;
    top: -200px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
}

.section.active .left .pic {
    position: relative;
    left: 0;
    top: 0;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.right .pic {
    position: relative;
    right: -200px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    opacity: 0;
}

.section.active .right .pic {
    position: relative;
    right: 0;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
    opacity: 1;
}